[Unit]
Description=ARCity communications server
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/ARCity/
ExecStart=npx nodemon /opt/ARCity/src/js/server.js

[Install]
WantedBy=multi-user.target
