[Unit]
Description=ARCity Read Zed on startup
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=arcity
WorkingDirectory=${ARCITY_PATH}
ExecStart=${ARCITY_PATH}/sys/webhook.sh
ExecStartPost=python ${ARCITY_PATH}/zed/read_zed.py
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
