[Unit]
Description=ARCity Display startup
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=arcity
WorkingDirectory=${ARCITY_PATH}
ExecStart=${ARCITY_PATH}/sys/webhook.sh
ExecStartPost=${ARCITY_PATH}/display/display.py
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
